<section id="education" class="hud-section">
    <header class="section-header">
        <span class="decoration" aria-hidden="true">//</span>
        <h2>EDUCATION_DATA</h2>
        <div class="header-line"></div>
    </header>

    <div class="education-grid">
        <article class="edu-card" data-info="Apasionado y dedicado a los estudios, alcancé honores académicos.">
            <div class="edu-icon-frame"><img src="src/img/education/UnivalleLogo.png" alt="Icono Técnico" class="edu-icon"></div>
            <h3>Técnico Superior en Desarrollo de Videojuegos</h3>
            <span class="edu-status">[2022]</span>
        </article>

        <article class="edu-card" data-info="Explorando en la enseñanza. Y así compartir mis conocimientos.">
            <div class="edu-icon-frame"><img src="src/img/education/LogoUPCED-UMSA.jpeg" alt="Icono Diplomado" class="edu-icon"></div>
            <h3>Diplomado en Educación Superior</h3>
            <span class="edu-status">[2023]</span>
        </article>

        <article class="edu-card" data-info="Fortaleciendo y mejorando las bases en el Desarrollo de Software.">
            <div class="edu-icon-frame"><img src="src/img/education/UnivalleLogo.png" alt="Icono Ingeniería" class="edu-icon"></div>
            <h3>Ingeniería en Sistemas Informáticos</h3>
            <span class="edu-status highlight">[2025 - En Curso]</span>
        </article>

        <!-- <article class="edu-card interactive-card" id="btn-certificados">
            <div class="edu-icon-frame"><img src="src/img/logos/frameworks/unity-icon.webp" alt="Icono Certificados" class="edu-icon"></div>
            <h3>Certificados</h3>
            <span class="edu-status action-text">[Ver mas]</span>
        </article> -->
    </div>
</section>