<div id="cert-modal" class="hud-modal">
    <div class="modal-overlay"></div>
    <div class="modal-content">
        <button id="close-modal" class="close-btn" aria-label="Cerrar modal">[X] CERRAR</button>
        <header class="modal-header">
            <h2>CERTIFICADOS</h2>
            <div class="header-line"></div>
        </header>
        <div class="cert-gallery">
            <!-- Repetido de ítems del modal -->
            <div class="cert-item">
                <img src="src/img/logos/frameworks/unity-icon.webp" alt="Sistemas operativos">
                <p>Sistemas<br>operativos<br><span>[2025]</span></p>
            </div>
            <div class="cert-item">
                <img src="src/img/logos/frameworks/unity-icon.webp" alt="Sistemas operativos">
                <p>Sistemas<br>operativos<br><span>[2025]</span></p>
            </div>
            <div class="cert-item">
                <img src="src/img/logos/frameworks/unity-icon.webp" alt="Sistemas operativos">
                <p>Sistemas<br>operativos<br><span>[2025]</span></p>
            </div>
            <div class="cert-item">
                <img src="src/img/logos/frameworks/unity-icon.webp" alt="Sistemas operativos">
                <p>Sistemas<br>operativos<br><span>[2025]</span></p>
            </div>
            <div class="cert-item">
                <img src="src/img/logos/frameworks/unity-icon.webp" alt="Sistemas operativos">
                <p>Sistemas<br>operativos<br><span>[2025]</span></p>
            </div>
        </div>
    </div>
</div>