:root {
    --bg-void: #050a0e;
    /*Background*/
    --neon-cyan: #00f0ff;
    /*principal color*/
    --bg-panel: #132026;
    /*popup*/
    --text-main: #e0f7fa;
    /*Text*/
    --accent-warn: #ff8800;
    /*secondary color*/

    --bg-panel-transparent: rgba(19, 32, 38, 0.85);
    --bg-panel-semitrnasparent: rgba(5, 10, 14, 0.95);
    --border-panel: rgba(0, 240, 255, 0.3);
    --color-shadow: rgba(0, 240, 255, 0.2);
    --neon-glow: 0 0 10px var(--neon-cyan);

    --header-height: 80px;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--bg-void);
    color: var(--text-main);
    font-family: 'Courier New', Courier, monospace;
    overflow-x: hidden;
}

.header-line {
    flex-grow: 1;
    height: 1px;
    background: linear-gradient(90deg, var(--neon-cyan), transparent);
    opacity: 0.5;
    margin-bottom: 15px;
}

.hud-section {
    padding: 30px 40px 10px;
    max-width: 1400px;
    margin: 0 auto;
    overflow: hidden;
}


.hud-glow-effect {
    box-shadow: var(--neon-glow);
    border: 1px solid var(--border-panel);
    transition: all 0.3s ease;
}

.hud-glow-effect:hover {
    box-shadow: 0 0 20px var(--neon-cyan);
    border-color: var(--neon-cyan);
}

.text-terminal {
    font-family: 'Courier New', monospace;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Utilidad para todos los contenedores con estilo de marco tecnológico */
.hud-frame-style {
    border: 1px solid var(--border-panel);
    background: rgba(0, 240, 255, 0.03);
    padding: 10px;
    position: relative;
}

/* Decoración de esquinas (puedes aplicarlo a .exp-visual y .slot-frame) */
.corner-dec:before {
    content: '';
    position: absolute;
    top: -2px; left: -2px;
    width: 10px; height: 10px;
    border-top: 2px solid var(--neon-cyan);
    border-left: 2px solid var(--neon-cyan);
}

/* TOOL TIPS */
.hud-tooltip {
    position: fixed;
    z-index: 3000; /* Por encima de los modales */
    pointer-events: none; /* Para que no estorbe al mover el mouse */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, transform 0.2s;
    transform: translateY(10px);
    max-width: 250px;
}

.hud-tooltip.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.tooltip-content {
    background: rgba(5, 24, 36, 0.95);
    border: 1px solid var(--neon-cyan);
    padding: 12px;
    box-shadow: 0 0 15px rgba(0, 240, 255, 0.2);
    color: var(--text-main);
    font-family: monospace;
    font-size: 0.85rem;
    position: relative;
}

.tooltip-decor {
    display: block;
    color: var(--neon-cyan);
    font-weight: bold;
    font-size: 0.7rem;
    margin-bottom: 5px;
    letter-spacing: 1px;
}

.tooltip-arrow {
    width: 0; height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid var(--neon-cyan);
    margin: 0 auto;
}